@import '../../variables';


#competences {
    width: 100%;
    min-height: 500px;
    margin: 0 auto;
    background-color: $backgroundColor-bege;
    .competences-container {
        width: 100%;
        max-width: 1240px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .shape-curved{
        width: 40%;
        min-width: 40%;
        height: 30px;
        min-height: 50px;
        background-color: $backgroundColor-bege;
        margin: 0 auto;
        border-radius: 50% 50% 50% 50% ;
        position: absolute;
        top: 378px;
        left: 0;
        right: 0;
        h2 {
            text-align: center;
            font-size: 17px;
        }
    }
    .competences-blocks{ 
        width: 100%;
        max-width: 1240px;
        display: flex;
        justify-content: flex-start;
        margin-top: 2em;
        flex-wrap: wrap;
        &__boxs{
            width: 30%;
            min-width: 300px;
            min-height: 380px;
            display: flex;
            flex-direction: column;
            background-color: $color-btn;
            color: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            margin: 2em auto;
            h2{
                text-align: center;
                font-size: 15px;
            }
        }&__info-user{
            width: 100%;
            display: flex;
            flex-direction: column;
            ul{
                margin: 0.8em 0 0 0 ;
            }
            p {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 0em 1em 0 0 ;
                font-weight: 500;
                font-size: 13px;
                line-height: 20px;
            }
        }
    }

}

