@import '../../variables';
#aside {
    width: 15%;
    margin: 0;
    padding: 0;
    top: 8em;
    position: fixed;
    z-index: 20000000;
    animation: delayHtml 3s ease;
    ul {
        display: none;
        flex-direction: column;
        list-style: none;
        padding: 1em;
        z-index: 10000000;
        animation: delayHtml 3s ease;
        position: relative;
        justify-content: center;
        justify-items: center;
        margin: 0 auto;
        li{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $backgroundColor-blue;
            width: 3em;
            height: 3em;
            border-radius: 50%;
            margin-top: 1em;
            z-index: 10000000;
            a {
                color: $text-color;
                text-decoration: none;
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 16px;
            }
        }
        .active-menu{
            background-color: $color-btn;
        }
    }
    .line-charge-menu {
        top: 3em;
        height: 17em;
        width: 2px;
        background-color:$color-btn;
        position: absolute;
        z-index: -1;
        display: none;
        animation: delayHtml 4s ease;
        .line-charge-effectived {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            background-color:rgb(238, 251, 238);
            z-index: -1;
            height: 5em;
        }
    }
    .active-aside-menu {
        display: flex;
        align-items: center;
    }
}

