@import '../../variables';
@import '../../mixirs';

#contact {
    @include container-start($backgroundColor-blue);
    position: relative;
    .container-footer {
        @include container-responsive();
        &__header {
           display: flex;
           width: 100%;
           max-width: 1240px;
           flex-direction: column;
           align-items: center;
           justify-content: center;
            h2 {
            @include container-headerh2($backgroundColor-bege);
           }
           p{
            @include container-header-p($color-paragrap);
           }
        }
        .container-form-footer {
            display: flex;
            width: 100%;
            max-width: 1240px;
            justify-content: center;
            align-items: center;
            color: white;
            flex-wrap: wrap-reverse;
            &__left , &__right{
                display: flex;
                width: 40%;
                min-width: 420px;
                justify-content: center;
                flex-direction: column;
            }
            &__right {
                align-items: center;
                justify-content: center;
                h2 {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 55px;
                    margin: 0;
                    color: $text-color;
                }
                p{
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 13px;
                    margin: 0;
                    margin-left:3em;
                    color: $text-color;
                }
                nav {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    ul {
                        display: flex;
                        list-style: none;
                        justify-content: center;
                        align-items: center;
                        margin: 0;
                        padding: 0;
                        li {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 1em;
                            a {
                                color: $text-color;
                                font-size: 1.6em;
                            }
                        }
                    }
                }
            }
            form {
                width: 80%;
                display: flex;
                flex-direction: column;
                padding: 1em;
                label {
                    margin-top: 1em;
                    margin-bottom: 0.3em;
                    color: rgb(223, 218, 218);
                    font-style: normal;
                    font-weight: 300;
                    font-size: 13px;
                    line-height: 24px;
               
                }
                textarea {
                    width: 100%;
                    border-radius: 10px;
                    margin-bottom: 1em;
                    resize: none;
                    outline: none;
                    caret-color: blue;
                }
            }
            .style-input-icons {
                position: relative;
                .input-text-style{
                    width: 90%;
                    padding: 0.56em;
                    margin-left: 2.1em;
                    border: none;
                    border-radius: 0 5px 5px 0px;
                    outline: none;
                    caret-color: blue;
                }
                
                label {
                    background-color: $color-btn;
                    border: none;
                    padding: 0.24em 0.5em;
                    position: absolute;
                    bottom: -0.30em;
                    align-items: center;
                    text-align: center;
                    font-size: 15px;
                    border-radius: 5px 0 0 5px;
                }
            }
            .btn-submit {
                margin: 1em 0 3em 0;
                width: 100%;
                background-color: $color-btn;
                border-radius: 5px;
                border: 1px solid #e8e8e8;
                padding: 0.8em 1.7em;
                color: $backgroundColor-bege;
                cursor: pointer;
                transition: all .3s;
                &:hover {
                    border: 1px solid $backgroundColor-blue;
                    background-color: $backgroundColor-bege;
                    color: $backgroundColor-blue;
          
                }
                &:disabled {
                    background-color: gray;
                    cursor:auto;
                    &:hover {
                        background-color: gray;
                        border: 1px solid white;
                        color:$backgroundColor-bege;
                    }
                }
            }
           
        }
    }
    
}

.error-name , .error-email , .error-message {
    color: red;
}

.send-msg-sucess {
    background-color: black;
}

.loading-scroll {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    position: absolute;
    top: 10px;
    background-color: $backgroundColor-bege;
    z-index: 10000000000000000;
    transform: translateX(-350px);
    transition: all 0.4s ease-out;
    border-radius: 10px;
   
}

.active-scroll {
    transform: translateX(0);
}

.check-styles {
    padding: 0.50em;
    color: green;
}