@media screen and (max-width : 767px) {
    .toggle .line1 {
        background-color: rgb(106, 106, 106);
        transition: all 0.3s ease;
        transform:  rotate(-43deg) translate(-1px , 10px);
    }
    .toggle .line2 {
       opacity: 0;
    }
    .toggle .line3 {
        background-color: rgb(106, 106, 106);
        transition: all 0.3s ease;
        transform:  rotate(44deg) translate(-0.4px , -10px);
    }

    header {
        .container-menu-nav {
            ul {
                width: 50% !important;
                top: 0;
                height: 100vh;
                background-color: rgba(0, 0, 0, 0.344);
                justify-content: flex-start  ;
                position: absolute;
                padding: 0 !important;
                margin: 0 !important;
                flex-direction: column;
                z-index: 100000;
                backdrop-filter: blur(30px);
                transform: translateX(-400px);
        
                li {
                    margin-top: 4em;
                }
                
            }
        }
        .container-info-header__right {
            img {
                display:none;
            }
        }  
    }
    .container-burguer-btn{
        display: block;
    }
    .container-info-header__text-apresentation {
        margin-left: 1.5em;
    }
    .container-info-header__btn-download {
        width: 100%;
        ul li {
            width: 6em;
            margin-right: 1.3em;
        }
        
    }
    
}

@media screen and (max-width : 768) {

}
