@media screen and (max-width:1230px){
    .apropos__articles{
        &__right{
            border: transparent !important;
        }        
    }
}

@media screen and (max-width:820px){
    .apropos__articles{
        &__center{
            border: transparent !important;
            min-height: 10em !important;
        }        
    }
}

@media screen and (max-width:385px){
    .apropos__articles {
        width: 320px !important;
        flex-direction: column;
        &__left , &__right , &__center{
            min-width: 320px !important;
            flex-direction: column;
            padding: 0 !important;
            p{
                margin: 0 auto;
                width: 260px !important;
                font-size: 11px !important;
            
            }
            h2{
                width: 250px !important;
                margin: 1em auto;
                font-size: 17px;
            }
        }
    }

}